.about {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
  }
}

.about__title {
  @include subtitle;
}

.about__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

.about__item {
  width: 260px;
  min-height: 94px;
}

.about__text {
  min-height: 60px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $black;
}

.about__icon {
  fill: $downy;

  &--flower {
    width: 32px;
    height: 37px;
  }

  &--money {
    width: 42px;
    height: 27px;
  }

  &--heart {
    width: 34px;
    height: 27px;
  }

  &--ball {
    width: 35px;
    height: 34px;
  }

  &--rocket {
    width: 55px;
    height: 23px;
  }

  &--gift {
    width: 33px;
    height: 32px;
  }
}
