.category-list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 370px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 355px;
  }
}

.category-list__item {
  height: 103px;

  &:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
  }

  &:active {
    color: $black-30;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    height: 130px;
  }

  &--interior {
    background-color: $downy;
    position: relative;

    &:hover {
      background-color: $downy-2;

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: $downy-2;

      &::after {
        opacity: 0.3;
      }
    }

    &::after {
      position: absolute;
      right: 36px;
      top: 22px;
      content: "";
      background: url("../img/icon-interior.svg") no-repeat right;
      width: 40px;
      height: 62px;
      opacity: 0.5;
    }

    @media (min-width: $tablet-width) {
      &::after {
        top: 30px;
      }
    }
  }

  &--toy {
    background-color: $puerto-rico;
    position: relative;

    &:hover {
      background-color: $puerto-rico-2;

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: $puerto-rico-2;

      &::after {
        opacity: 0.3;
      }
    }

    &::after {
      position: absolute;
      right: 27px;
      top: 21px;
      content: "";
      background: url("../img/icon-toy.svg") no-repeat right;
      width: 60px;
      height: 60px;
      opacity: 0.5;
    }

    @media (min-width: $tablet-width) {
      &::after {
        top: 30px;
        right: 32px;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        top: 33px;
        right: 35px;
      }
    }
  }
}

.category-list__link {
  display: block;
  padding: 24px 160px 31px 31px;
  color: $white;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding: 27px 160px 30px 35px;
    line-height: 30px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    padding-right: 320px;
    padding-left: 36px;
  }
}
