
.color-list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.color-list__item {
  @include form-label;
  padding: 10px 0 12px 61px;
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-bottom: 1px;

    &:nth-child(odd) {
      flex-basis: 52%;
    }
  }
}

.color-list__label {
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    left: -60px;
    top: -10px;
    content: "";
    width: 38px;
    height: 38px;
    border: 2px solid $charcoal;
    opacity: 0.1;
  }

  @media (min-width: $tablet-width) {
    padding-left: 21px;

    &::before {
      width: 52px;
      height: 52px;
      top: -12px;
    }
  }

  &:hover {
    &::before {
      border-color: $downy;
    }
  }

  &:active {
    &::before {
      border-color: $charcoal;
      opacity: 0.3;
    }
  }
}

.color-list__input:checked + .color-list__label {
  &::before {
    background: url("../img/icon-tick.svg") no-repeat center / 23px 16px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      background-size: 32px 22px;
    }
  }
}
