
.color-list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-width: 700px;
  }
}

.color-list__item {
  @include form-label;
  padding: 13px 0 13px 63px;
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.color-list__label {
  position: relative;

  &::before {
    position: absolute;
    left: -62px;
    top: -10px;
    content: "";
    width: 38px;
    height: 38px;
    border: 2px solid $charcoal;
  }
}

.color-list__input:checked + .color-list__label {
  &::before {
    background: url("../../img/icon-tick.svg") no-repeat center / 23px 16px;
  }
}
