
.contact {
  @media (min-width: $desktop-width) {
    display: flex;
    position: relative;
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

.contact__wrapper {
  padding: 30px;

  @media (min-width: $tablet-width) {
    padding: 30px 50px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
    margin: 0;
    padding-left: 100px;
  }
}

.contact__title {
  font-size: 18px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    @include subtitle;
  }
}

.contact__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;


  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.contact__item {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 45%;
  }
}

.contact__name {
  width: 77px;
}

.contact__link {
  color: $charcoal;
  text-decoration: none;
  position: relative;
  margin-top: 1px;

  &::after {
    position: absolute;
    bottom: 3px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $downy-3;
  }

  &:hover {
    color: $puerto-rico-2;
  }

  &:active {
    &::after {
      opacity: 0.1;
    }
  }
}

.contact__text {
  margin: 0;
  max-width: 145px;
}

.contact__iframe-map {
  border: none;
  width: 100%;
  height: 457px;
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    width: 527px;
  }
}

.contact__button {
  padding: 14px 56px;
  color: $charcoal;
}

.contact__button-wrapper {
  padding: 30px;
  text-align: center;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 340px;
  }
}
