
.contact {
  @media (min-width: $desktop-width) {
    display: flex;
    position: relative;
    max-width: $desktop-width;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 95px;
  }
}

.contact__wrapper {
  padding: 30px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
    margin: 0;
    padding-left: 225px;
    padding-top: 61px;
  }
}

.contact__title {
  font-size: 18px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    @include subtitle;
    margin-top: 20px;
    position: relative;

    &::after {
      position: absolute;
      right: 3px;
      top: -25px;
      content: "";
      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat center / 47px 81px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;

    &::after {
      left: -113px;
      top: -16px;
    }
  }
}

.contact__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;


  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-top: 35px;
  }
}

.contact__item {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    font-size: 17px;
  }
}

.contact__name {
  width: 77px;
  line-height: 32px;
}

.contact__link {
  color: $charcoal;
  text-decoration: none;
  position: relative;
  margin-top: 1px;

  &::after {
    position: absolute;
    bottom: 3px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $downy-3;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;

    &::after {
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -3px;
    }
  }

  &:hover {
    color: $puerto-rico-2;
  }

  &:active {
    &::after {
      opacity: 0.1;
    }
  }
}

.contact__text {
  margin: 0;
  max-width: 145px;

  @media (min-width: $tablet-width) {
    max-width: 300px;
  }
}

.contact__iframe-map {
  border: none;
  width: 100%;
  height: 457px;
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    width: 527px;
  }
}

.contact__button {
  display: inline-block;
  padding: 9px 53px;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    padding: 9px 39px;
  }
}

.contact__button-wrapper {
  margin-top: 18px;
  margin-bottom: 39px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 46px;
    left: 170px;
    width: 340px;
  }
}
