.form {
  background-color: transparent;
}


.form__button {
  padding: 16px 40px;
  font-size: 17px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 16px 30px;
    line-height: 16px;
    align-self: flex-start;
  }
}

.form__footer {
  padding: 0 30px;
  padding-bottom: 56px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 42px 50px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 38px 225px;
    padding-bottom: 30px;
  }
}

.form__text {
  font-size: 14px;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-top: 11px;
  }
}
