.goods {
  border: 1px solid $whisper;

  &:hover {
    box-sizing: border-box;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    flex-direction: column;
    flex-basis: 334px;
  }
}

.goods__img {
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }
}

.goods__info {
  padding: 18px 28px 11px 28px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    padding-left: 30px;
    padding-right: 0;
    padding-bottom: 0;
    width: 300px;
  }
}

.goods__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.goods__link {
  color: $black;

  @media (min-width: $tablet-width) {
    height: 334px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.goods__description {
  font-size: 13px;
  margin-top: 7px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.goods__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $whisper;

  @media (min-width: $tablet-width) {
    max-width: 268px;
    min-height: 75px;
    margin-top: auto;
  }
}

.goods__price {
  line-height: 24px;
  font-weight: bold;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-top: 20px;
  }
}

.goods__button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 19px;
  margin-right: 4px;

  @media (min-width: $tablet-width) {
    width: 21px;
    height: 28px;
    margin-right: 4px;
    margin-top: -3px;
  }
}

.goods__icon {
  fill: $black;
  opacity: 0.2;

  &:hover {
    fill: $downy;
    opacity: 1;
  }

  &:active {
    fill: $downy;
    opacity: 0.3;
  }
}
