.main-header {
  height: 196px;
  background-color: $white-smoke;

  @media (min-width: $tablet-width) {
    margin-top: -90px;
  }
}

.main-header__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding-top: 90px;
  color: $black;

  @media (min-width: $tablet-width) {
    @include subtitle;
  }
}
