.main-nav {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 89px auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 89px auto;
  }
}

.main-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 20px 30px;
}

.main-nav__logo {
  margin-left: 75px;
  grid-column: 1 / 2;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    justify-self: center;
  }
}

.main-nav__img {
  width: 113px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 86px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-nav__toggle {
  background: url("../img/icon-menu-open.svg") no-repeat;
  width: 20px;
  height: 14px;
  border: none;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    grid-column: 3 / 5;
    justify-self: end;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 6;
  }
}
