.main-header {
  background-color: $white-smoke;
  position: relative;

  @include zigzag-bg;

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.main-header__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding: 74px 0;
  color: $black;
  margin-top: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    @include subtitle;
    padding-top: 105px;
  }
}
