
.page-footer {
  background-color: $white-smoke;
  @media (min-width: $tablet-width) {

  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 48px 50px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 122px;
  }
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    margin-right: 122px;
  }
}
