
.page-main__category {
  @media (min-width: $tablet-width) {
    margin-top: -49px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -62px;
  }
}

.page-main__about {
  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }
}
