.reviews {
  padding: 5px 30px 65px 30px;
  position: relative;

  &::after {
    @include zigzag;
  }

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    position: relative;
  }
}

.reviews__title {
  @include subtitle;
  margin-bottom: 0;
}

.reviews__item {
  margin: 0;
  margin-bottom: 27px;
}

.reviews__text {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    max-width: 648px;
  }
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    max-width: 284px;
    display: inline-block;
  }
}

.reviews__author-nickname {
  font-weight: normal;
  font-style: normal;
}

.reviews__author-link {
  color: $charcoal;

  &:hover {
    color: $puerto-rico-2;
  }
}

.reviews__nav {
  display: flex;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -20px;
    right: 40px;
  }
}

.reviews__prev {
  @include arrow-button;
  cursor: pointer;
}

.reviews__next {
  @include arrow-button;
  border-left: none;
  cursor: pointer;
}

.reviews__icon {
  fill: $black;
  width: 52px;
  height: 26px;
}

.reviews__button {
  padding: 15px 80px;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 50px;
  }
}
