.reviews {
  padding: 5px 30px 52px 30px;
  position: relative;

  &::after {
    @include zigzag;
  }

  @media (min-width: $tablet-width) {
    padding: 50px;
    padding-bottom: 105px;
    position: relative;
    background: url("../img/review@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 35px 50px 157px 225px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-position: 50px 0;
    }
  }
}

.reviews__title {
  @include subtitle;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-top: 43px;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    margin-top: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 28px;
}

.reviews__text {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    max-width: 648px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    max-width: 875px;
    margin-bottom: 13px;
  }
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    max-width: 284px;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-nickname {
  font-weight: normal;
  font-style: normal;
}

.reviews__author-link {
  color: $charcoal;

  @media (min-width: $tablet-width) {
    color: $black;
    line-height: 33px;
    font-size: 17px;
  }

  &:hover {
    color: $puerto-rico-2;
  }
}

.reviews__nav {
  display: flex;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 135px;
    right: 53px;
    width: 169px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 185px;
  }
}

.reviews__prev {
  @include arrow-button;
  cursor: pointer;
}

.reviews__next {
  @include arrow-button;
  border-left: none;
  cursor: pointer;
}

.reviews__icon {
  fill: $black;
  width: 52px;
  height: 26px;
}

.reviews__button {
  display: block;
  padding: 9px 79px;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 80px;
    right: 50px;
    padding: 9px 38px;
  }

  @media (min-width: $desktop-width) {
    top: 79px;
  }
}
