.size-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.size-list__item {
  margin-right: 7px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.size-list__label {
  position: relative;
  cursor: pointer;
  display: flex;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 82px;
    height: 52px;
    border: 2px solid $charcoal-10;
  }


  @media (min-width: $tablet-width) {
   width: 112px;

   &::before {
     width: 112px;
   }
  }
}

.size-list__input:checked + .size-list__label {
  &::before {
    border-color: $downy;
  }
}
