.type-list {
  list-style: none;
  padding: 0;
}

.type-list__item {
  @include form-label;
  padding: 12px 0 12px 60px;
  max-width: 220px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    padding: 29px 0 29px 60px;
    max-width: 100%;
  }
}

.type-list__label {
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    left: -60px;
    top: -10px;
    content: "";
    width: 41px;
    height: 41px;
    border: 2px solid $charcoal;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 51px;
      height: 51px;
      left: -77.5px;
      top: -13px;
    }

    @media (min-width: $desktop-width) {
      left: -80px;
    }
  }

  &:hover {
    &::before {
      border-color: $downy;
    }
  }

  &:active {
    &::before {
      border-color: $charcoal;
      opacity: 0.3;
    }
  }
}

.type-list__input:checked + .type-list__label {
  &::before {
    left: -60px;
    top: -3px;
    content: "";
    width: 41px;
    height: 41px;
    border: 2px solid $charcoal;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 51px;
      height: 51px;
      left: -77.5px;
      top: -13px;
    }

    @media (min-width: $desktop-width) {
      left: -80px;
    }
  }

  &::after {
    position: absolute;
    top: 10px;
    left: -47px;
    content: "";
    width: 16px;
    height: 16px;
    background-color: $downy;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 19px;
      height: 19px;
      left: -61px;
      top: 4px;
    }

    @media (min-width: $desktop-width) {
      left: -64px;
      top: 3px;
    }
  }

  &:hover {
    &::before {
      border-color: $downy;
    }
  }

  &:active {
    &::before {
      border-color: $charcoal;
      opacity: 0.3;
    }
  }
}
