.type-list {
  list-style: none;
  padding: 0;
}

.type-list__item {
  @include form-label;
  padding: 10px 0 10px 70px;
}

.type-list__label {
  position: relative;

  &::before {
    position: absolute;
    left: -60px;
    top: -10px;
    content: "";
    width: 42px;
    height: 42px;
    border: 2px solid $charcoal;
    border-radius: 50%;
  }
}

.type-list__input:checked + .type-list__label {
  &::before {
    left: -60px;
    top: -10px;
    content: "";
    width: 42px;
    height: 42px;
    border: 2px solid $charcoal;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    top: 2.5px;
    left: -48px;
    content: "";
    width: 18px;
    height: 18px;
    background-color: $downy;
    border-radius: 50%;
  }
}
