.user-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .user-list {
    display: none;
  }

  .main-nav--nojs .user-list {
    display: block;
  }
}

.user-list__item {
  padding: 24px 0 24px 80px;
  border-bottom: 1px solid $whisper;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 83px;
    height: 88px;
    border-bottom: 0;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 1px;
      height: 93px;
      background-color: $whisper-2;
    }

    &:nth-child(2) {
      padding: 0;
      padding-top: 25px;
      padding-left: 82px;
      min-width: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      height: 104px;
    }
  }
}

.user-list__link {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 10px;
    margin-left: 1px;
    min-width: 200px;
  }
}

.user-list__icon {
  position: absolute;
  left: 32px;
  top: 30px;
  fill: $black;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    top: 35px;
    left: 33px;
  }

  &--search {
    width: 18px;
    height: 18px;
  }

  &--cart {
    width: 21px;
    height: 18px;
  }
}

.user-list__span {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
