@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensas.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensansbold.woff") format("woff"),
    url("../fonts/opensasbols.woff2") format("woff2");
}
