@mixin subtitle {
  color: $black;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

@mixin arrow-button {
  width: 130px;
  height: 52px;
  border: 1px solid $whisper;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

@mixin zigzag {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: url("../img/bg-zigzag-line.svg") repeat-x center / 100%;
  height: 10px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 20px;
  }
}

@mixin form-label {
  color: $black;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}
