$charcoal: #444444;
$downy: #63d1bb;
$downy-2:#59d5bc;
$downy-3:#62d1ba;
$puerto-rico: #56c3b2;
$puerto-rico-2: #46c1ae;
$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$black: #000000;
$whisper: #ececec;
$whisper-2: #e5e5e5;
$dark-cian: #149080;
$white-smoke: #f1f1f1;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
